@import "global-frontend-settings/scss/grid",
"global-frontend-settings/scss/mixins",
"global-frontend-settings/scss/variables",
"susy/sass/susy";

.wl_availableWlDropBtnContent {

  .wl_availableWlDropBtnContent__headline {
    font-weight: bold;
  }

  .wl_availableWlDropBtnContent__item {
    cursor: pointer;
    margin-top: 24px;
  }

}

