@import "susy/sass/susy";
@import "global-frontend-settings/scss/grid";
@import "global-frontend-settings/scss/variables";
@import "global-frontend-settings/scss/mixins";
@import "../../imports/own_frontend_settings/grid";

.sp_uni50container {
    overflow: hidden;
    @include span(susy-get(columns));
    padding-bottom: 2 * $grid-padding;
    padding-left: $grid-padding;
    padding-right: $grid-padding;
    @include susy-breakpoint($breakpoint-large...) {
        padding-left: 0;
        padding-right: 0;
    }

    .sp_uniqueInContentNavigation {
        border-bottom: 1px solid $grey200;
        border-top: 1px solid $grey200;
        @include susy-breakpoint($breakpoint-large...) {
            border: none;
        }

        // the ~ selector matches all siblings below
        // using it like here it will select all sp_uniqueInContentNavigation but not the first one
        ~ .sp_uniqueInContentNavigation {
            border-top: none;
        }
    }
}

.sp_uni50 {
    overflow: hidden;
    width: 100%;
    visibility: visible !important;
    @include susy-breakpoint($breakpoint-large...) {
        padding: $grid-padding $grid-padding (3 * $grid-padding);
    }

    &.sp_duplicatedInContentNavigation {
        display: none;
        @include susy-breakpoint($breakpoint-large...) {
            display: block;
        }
    }

    .sp_uni50image {
        display: none;
        @include susy-breakpoint($breakpoint-large...) {
            display: block;
            @include span(susy-get(columns));
            padding-bottom: $grid-padding;
        }
    }

    .sp_uni50content {
        @include susy-breakpoint($breakpoint-large...) {
            @include span(susy-get(columns));
        }

        .sp_uni50headline {
            margin: $grid-padding;
            @include susy-breakpoint($breakpoint-large...) {
                margin: 0;
            }

            .sp_uni50arrow {
                float: right;
                @include font-size($font150);
                margin-bottom: 0;
                padding-left: 10px;
                padding-right: 10px;
                @include susy-breakpoint($breakpoint-large...) {
                    display: none;
                }
            }
        }

        @mixin uniTeaserParagraph() {
            display: none;
            @include susy-breakpoint($breakpoint-large...) {
                display: block;
                margin-top: $grid-padding;
                margin-bottom: 0;
            }
        }

        .sp_uni50text {
            @include uniTeaserParagraph();
        }

        .sp_uni50link {
            text-decoration: underline;
            @include uniTeaserParagraph();
        }
    }
}

.contentWithSidebar .sp_uni50containerVertical .sp_uni50 {
    @include susy-breakpoint($breakpoint-large...) {
        @include gallery(susy-get(columns)/3 of susy-get(columns));
    }
}

.contentFullWidth .sp_uni50containerVertical .sp_uni50 {
    @include susy-breakpoint($breakpoint-large...) {
        @include gallery(susy-get(columns)/4 of susy-get(columns));
    }
}

.sp_uni50containerHorizontal .sp_uni50 {
    @include susy-breakpoint($breakpoint-large...) {
        padding-bottom: 0;
    }

    .sp_uni50image {
        @include susy-breakpoint($breakpoint-large...) {
            @include span(susy-get(columns)/2);
            padding-bottom: 0;
            padding-right: $grid-padding;
        }
    }

    .sp_uni50content {
        @include susy-breakpoint($breakpoint-large...) {
            @include span(susy-get(columns)/2 at susy-get(columns)/2);
            padding-left: $grid-padding;
        }
    }
}

.contentWithSidebar .sp_uni50containerHorizontal .sp_uni50 {
    @include susy-breakpoint($breakpoint-large...) {
        @include gallery(susy-get(columns)/1.5 of susy-get(columns));
    }
}

.contentFullWidth .sp_uni50containerHorizontal .sp_uni50 {
    @include susy-breakpoint($breakpoint-large...) {
        @include gallery(susy-get(columns)/2 of susy-get(columns));
    }
}
