@import "susy/sass/susy";
@import "global-frontend-settings/scss/grid";
@import "global-frontend-settings/scss/variables";
@import "../../imports/own_frontend_settings/grid";

.shoppagesFragment {
    overflow: hidden;
}

.sp_contentHeadline h1 {
    margin-bottom: 2 * $grid-padding;
    padding-left: $grid-padding;
    padding-right: $grid-padding;
}

.sp_link {
    text-decoration: none;
}

.sp_link_icon_arrow_right:after {
    content: "\0000a0>";
    display: inline-block;
    font-family: $iconsFontFamily;
    font-size: 0.75em;
    font-style: normal;
}

.sp_imgLeft {
    float: left;
    margin-right: 2 * $grid-padding;
}

.sp_imgRight {
    float: right;
    margin-left: 2 * $grid-padding;
}

.sp_plainText {

    ul,
    ol {
        list-style-position: inside;

        // "hack" for displaying p inside li's in Firefox correctly
        li {

            p:first-child {
                display: inline;
            }

            p:nth-child(2) {
                margin-top: 10px;
            }
        }
    }

    /* we can't add classes to table-tags (yet), so we have to style the tag.
     * Sorry if that breaks your styling. Don't hesitate to speak with us (SHO).*/
    td {
        //noinspection CssInvalidPropertyValue - break-word is correct
        word-break: break-word;
        @include susy-breakpoint($breakpoint-large...) {
            word-break: normal;
        }
    }

    th {
        //noinspection CssInvalidPropertyValue - break-word is correct
        word-break: break-word;
        @include susy-breakpoint($breakpoint-large...) {
            word-break: normal;
        }
    }
}