@import "susy/sass/susy";
@import "global-frontend-settings/scss/grid";
@import "global-frontend-settings/scss/variables";
@import "../../imports/own_frontend_settings/grid";

@mixin expandableTeaser() {
    .sp_universalContent .sp_expanderButton {
        background-color: $white;
        bottom: 0;
        padding: $grid-padding (2 * $grid-padding) 21px 0;
        position: absolute;
        width: inherit;

        &:after {
            content: attr(data-expand);
        }

        &.decrease:after {
            content: attr(data-collapse);
        }
    }

    &.sp_closed .sp_expanderContent {
        padding-right: 2 * $grid-padding;
        position: absolute;
        width: inherit;
    }
}

.sp_universal {
    overflow: hidden;
    @include span(susy-get(columns));
    padding-bottom: 2 * $grid-padding;
    position: relative;

    &.sp_universalImageright {

        img.sp_universalImage {
            float: right;
        }
    }

    &.sp_universalImageleft {

        img.sp_universalImage {
            float: left;
        }
    }

    &.sp_universalImagetop {

        img.sp_universalImage {
            float: none;
        }
    }

    .sp_universalImage {
        @include span(susy-get(columns));
        padding: $grid-padding;
    }

    .sp_universalContent {
        @include span(susy-get(columns));
        padding: $grid-padding;

        .sp_universalHeadline {
            margin-bottom: $grid-padding;
        }

        .sp_expanderButton {
            display: none;
        }
    }
}

.contentWithSidebar .sp_universal {

    @include susy-breakpoint($breakpoint-large...) {
        @include expandableTeaser();
    }

    .sp_universalImage {
        @include susy-breakpoint($breakpoint-large...) {
            @include span(susy-get(columns)/12*5 of susy-get(columns)-$left-navigation-cols);
        }
    }

    .sp_universalContent .sp_expanderButton,
    .sp_universalContent {
        @include susy-breakpoint($breakpoint-large...) {
            @include span(susy-get(columns)/12*4 of susy-get(columns)-$left-navigation-cols);
        }
    }
}

.contentFullWidth .sp_universal {

    @include susy-breakpoint($breakpoint-large...) {
        @include expandableTeaser();
    }

    .sp_universalImage {
        @include susy-breakpoint($breakpoint-large...) {
            @include span(susy-get(columns)/2);
        }
        @include susy-breakpoint($breakpoint-extra-large...) {
            @include span(susy-get(columns)/12*5);
        }
    }

    .sp_universalContent .sp_expanderButton,
    .sp_universalContent {
        @include susy-breakpoint($breakpoint-large...) {
            @include span(susy-get(columns)/2);
        }
        @include susy-breakpoint($breakpoint-extra-large...) {
            @include span(susy-get(columns)/12*7);
        }
    }
}

.contentFullWidth .sp_universal.sp_universalImagetop,
.contentWithSidebar .sp_universal.sp_universalImagetop {
    .sp_universalContent,
    .sp_universalImage {
        @include span(susy-get(columns));
        padding-bottom: 0;
    }

    .sp_universalContent {
        padding-top: 0;
        padding-bottom: 0;

        .sp_plainText,
        h2 {
            margin: $grid-padding 0;
        }
    }
}

.p_copy100.sp_plainText.p_textExpander100 {
    height: auto;
}

.sp_universal .p_textExpander100__toggle {
    display: none;
}

.sp_universal .p_textExpander100__link {
    padding: 8px 10px 8px 0;
}
