@import "susy/sass/susy";
@import "global-frontend-settings/scss/grid";
@import "global-frontend-settings/scss/variables";
@import "../../imports/own_frontend_settings/grid";

.sp_teaser {
    margin-bottom: $grid-padding;
    margin-top: $grid-padding;
    overflow: hidden;
    padding-left: $grid-padding;
    padding-right: $grid-padding;
    position: relative;
    width: 100%;

    .sp_teaserImage {
        background-size: cover;
        height: 0;
        margin-bottom: $grid-padding;
        width: 100%;
        @include susy-breakpoint($breakpoint-large...) {
            margin-bottom: 0;
        }
    }

    .sp_teaserTransparencyLayerWrapper {
        @include span(susy-get(columns)/2);
        height: 100%;
        position: absolute;
        right: $grid-padding;
        top: 0;

        .sp_teaserTransparencyLayer {
            display: none;
            height: 100%;
            margin-left: 2 * $grid-padding;
            @include susy-breakpoint($breakpoint-large...) {
                display: block;
                opacity: 0.75;
            }
        }
    }

    .sp_teaserContentWrapper {
        @include span(susy-get(columns));
        bottom: 0;
        position: relative;
        right: 0;
        @include susy-breakpoint($breakpoint-large...) {
            position: absolute;
            right: $grid-padding;
        }

        .sp_teaserContent {
            margin-bottom: $grid-padding;
            padding-left: 0;
            padding-right: 0;
            @include susy-breakpoint($breakpoint-large...) {
                padding-left: 2 * $grid-padding;
                padding-right: 2 * $grid-padding;
            }
        }
    }

    .sp_teaserLine {
        margin-bottom: $grid-padding;
    }
}

.sp_teaserWhite .sp_teaserTransparencyLayer {
    background-color: $white;
}

.sp_teaserBlack {
    color: inherit;
    @include susy-breakpoint($breakpoint-large...) {
        color: $white;
    }

    .sp_teaserTransparencyLayer {
        background-color: $black;
    }
}

.contentWithSidebar .sp_teaser {

    .sp_teaserImage {
        @include susy-breakpoint($breakpoint-large...) {
            background-position: center;
        }
        @include susy-breakpoint($breakpoint-extra-large...) {
            height: 0;
        }
    }

    .sp_teaserContentWrapper {
        @include susy-breakpoint($breakpoint-large...) {
            @include span(susy-get(columns)/12*4 of susy-get(columns)-$left-navigation-cols);
        }
    }
}

.contentFullWidth .sp_teaser .sp_teaserContentWrapper {
    @include susy-breakpoint($breakpoint-large...) {
        @include span(susy-get(columns)/12*5);
    }
}
