@import "susy/sass/susy";
@import "global-frontend-settings/scss/grid";

$imageHeightInCroppedLWithNavigation: 186px;
$imageWidthInCroppedLWithNavigation: 704px;

.sp_teaser.sp_imageBanner .sp_teaserImage {
    padding-top: $imageHeightInCroppedLWithNavigation / $imageWidthInCroppedLWithNavigation * 100%;
}

.contentWithSidebar .sp_teaser.sp_imageBanner .sp_teaserImage {
    @include susy-breakpoint($breakpoint-large...) {
        height: $imageHeightInCroppedLWithNavigation;
    }
}
