@import "susy/sass/susy";
@import "global-frontend-settings/scss/grid";
@import "global-frontend-settings/scss/variables";
@import "global-frontend-settings/scss/mixins";
@import "../../imports/own_frontend_settings/grid";

.sp_footerNormal {
    @include span(susy-get(columns));
    margin-bottom: $grid-padding;
    margin-top: 2 * $grid-padding;
    padding-top: 2 * $grid-padding;
    visibility: visible !important;

    .sp_topBorder {
        border-top: 1px solid $grey200;
    }

    .sp_topBorderWrapper {
        padding: 0 $grid-padding;
    }

    .sp_topBorderFloatingWrapper {
        padding: 0 $grid-padding;
        @include span(susy-get(columns));
    }

    .sp_iconContainer {
        text-align: center;
        @include susy-breakpoint($breakpoint-extra-large...) {
            text-align: center;
        }

        .sp_link:hover {
            text-decoration: none;
        }
    }

    .sp_footerColumn {
        @include span(susy-get(columns));
        padding-left: $grid-padding;
        @include susy-breakpoint($breakpoint-large...) {
            @include span(susy-get(columns)/3);
        }
        @include susy-breakpoint($breakpoint-extra-large...) {
            @include span(susy-get(columns)/4);
        }

        li {
            margin-bottom: 2 * $grid-padding;
        }

        li.sp_lastColumnEntry {
            margin-bottom: 3 * $grid-padding;
        }

        .sp_columnEntryWrapper {
            display: table;

            .sp_ColumnIcon {
                @include font-size($font300, false);
            }

            .sp_columnEntry {
                display: table-cell;
                padding-left: $grid-padding;
                vertical-align: middle;
            }

            .sp_iconLink {
                color: $black;
                padding-left: 0;
                text-decoration: none;
                width: 30px;
                text-align: center;
            }
        }

        &.sp_secondrow {
            margin-top: 2 * $grid-padding;

            .sp_columnHeadline {
                font-weight: bold;
                .sp_iconLink {
                    font-weight: normal;
                }
            }
        }

        &.sp_thirdrow {
            display: none;
            @include susy-breakpoint($breakpoint-large...) {
                border-top: 1px solid $grey200;
                display: inherit;
                padding-top: 2 * $grid-padding;
            }
            @include susy-breakpoint($breakpoint-extra-large...) {
                display: none;
            }
        }
    }

    .sp_accountColumn {
        @include susy-breakpoint($breakpoint-extra-large...) {
            @include span(span(susy-get(columns)/3));
        }

        &.sp_firstrow {
            margin-left: -10px;
            margin-right: 10px;
            padding-top: 2 * $grid-padding;
            @include susy-breakpoint($breakpoint-large...) {
                margin: 0;
                padding-left: 0;
            }
        }

        &.sp_secondrow {

            .sp_phoneNumber {
                padding-bottom: $grid-padding;
            }

            .sp_appStores {
                display: none;
                @include susy-breakpoint($breakpoint-extra-large...) {
                    display: inherit;
                }

                a {
                    margin-right: 8px;
                }
            }
        }

        &.sp_thirdrow {
            @include susy-breakpoint($breakpoint-large...) {
                clear: left;
            }

            .sp_appStores {
                margin-top: 3 * $grid-padding;
                text-align: center;
            }
        }
    }

    .sp_emptyColumn {
        display: none;
        @include susy-breakpoint($breakpoint-large...) {
            @include span(susy-get(columns)/12);
            display: inherit;
            padding-left: $grid-padding;
        }
    }

    .sp_paymentColumn.sp_firstrow {
        display: none;
        @include susy-breakpoint($breakpoint-large...) {
            display: inherit;
            padding-top: 2 * $grid-padding;
        }
    }

    .sp_serviceColumn {
        @include susy-breakpoint($breakpoint-extra-large...) {
            @include span(susy-get(columns)/6);
        }

        &.sp_firstrow {
            display: none;
            @include susy-breakpoint($breakpoint-large...) {
                display: inherit;
                padding-top: 2 * $grid-padding;
            }
        }

        &.sp_secondrow {
            @include susy-breakpoint($breakpoint-large...) {
                display: none;
            }
            @include susy-breakpoint($breakpoint-extra-large...) {
                display: inherit;
            }
        }
    }

    .sp_aboutColumn {
        @include susy-breakpoint($breakpoint-large...) {
            @include span(susy-get(columns)/3);
        }
        @include susy-breakpoint($breakpoint-extra-large...) {
            @include span(susy-get(columns)/4);
        }

        &.sp_firstrow {
            @include susy-breakpoint($breakpoint-large...) {
                margin-top: 2 * $grid-padding;
            }
        }
    }

    .sp_mobilerow {
        padding-right: $grid-padding;
        @include susy-breakpoint($breakpoint-large...) {
            display: none;
        }

        .sp_mobilColumnWrapper {
            margin-top: 2 * $grid-padding;

            .sp_mobilColumn {
                @include span(susy-get(columns));
                @include susy-breakpoint($breakpoint-medium...) {
                    @include span(susy-get(columns)/2);
                }
            }
        }

        .sp_footer_mobile_breadcrumb {
            margin-top: 2 * $grid-padding;
            text-align: center;

            li {
                display: inline;
                margin-left: $grid_padding / 2;
                margin-right: $grid_padding / 2;
            }
        }

        .sp_iconContainer {
            margin-bottom: 3 * $grid-padding;
            margin-top: 2 * $grid-padding;
        }

        .sp_appStores {
            text-align: center;
        }
    }

    .sp_footerAccordion.sp_secondrow {
        margin-top: 0;
        padding: 0 $grid-padding;
        @include susy-breakpoint($breakpoint-large...) {
            margin-top: 2 * $grid-padding;
        }

        .sp_topBorder {
            @include susy-breakpoint($breakpoint-large...) {
                border-top: 0;
            }
        }

        .sp_footerAccordionHeader {
            border-top: 1px solid transparent;
            font-weight: normal;
            margin-bottom: 0;
            padding: 9px 50px 9px 0;
            position: relative;
            @include susy-breakpoint($breakpoint-large...) {
                border: none;
                font-weight: bold;
                margin-bottom: 2 + $grid-padding;
                padding: 0;
            }

            &:after {
                background-color: #F3F1EC;
                background: linear-gradient(#FEFEFE, #F3F1EC) top;
                @include font-size($font150, false);
                border: 1px solid $grey200;
                border-radius: 50%;
                content: "v";
                font-family: $iconsFontFamily;
                height: 30px;
                line-height: 28px;
                margin: $grid-padding 0;
                position: absolute;
                right: 0;
                text-align: center;
                $svg-gradient-shim-threshold: 100;
                top: -5px;
                width: 30px;
                @include susy-breakpoint($breakpoint-large...) {
                    display: none;
                }
            }
        }

        .sp_footerAccordionContent {
            display: none;
            @include susy-breakpoint($breakpoint-large...) {
                display: inherit;
                margin-top: 2 * $grid-padding;
            }
        }

        &.sp_open {

            .sp_footerAccordionHeader {
                font-weight: bold;
            }

            .sp_footerAccordionContent {
                display: inherit;
                margin-top: 2 * $grid-padding;
            }

            .sp_footerAccordionHeader:after {
                content: "^";
                font-weight: normal;
            }
        }

        //we need this for safari - or else no click handler will be registered
        .js_footerAccordionHeader {
            cursor: pointer;
            @include susy-breakpoint($breakpoint-large...) {
                cursor: default;
            }
        }
    }

    .sp_footerSocialMedia {
        @include span(susy-get(columns));
        padding: 0 $grid-padding;
        text-align: center;

        .sp_footerSocialMediaIcon {
            margin-left: 1.75 * $grid-padding;
            margin-right: 1.75 * $grid-padding;
            @include susy-breakpoint($breakpoint-medium...) {
                margin-left: 2.5 * $grid-padding;
                margin-right: 2.5 * $grid-padding;
            }
        }
    }

    .sp_footerBlogs {
        @include span(susy-get(columns));
        margin-bottom: 4 * $grid-padding;
        margin-top: 3 * $grid-padding;
        padding: 0 $grid-padding;
        text-align: center;

        .sp_footerBlogIcon {
            margin-bottom: $grid-padding;
            margin-left: 0.75 * $grid-padding;
            margin-right: 0.75 * $grid-padding;
        }
    }

    .sp_footerOttoClaim {
        @include span(susy-get(columns));
        margin-top: 4 * $grid-padding;
        text-align: center;
    }
}
