@import "susy/sass/susy";
@import "global-frontend-settings/scss/variables";
@import "../../imports/own_frontend_settings/grid";

.sp_footerApp {
    margin: 4 * $grid-padding 0 2 * $grid-padding 0;
    text-align: center;
    @include span(susy-get(columns));
    visibility: visible !important;

    .sp_footerApp_borderBox {
        border-top: 1px solid $grey200;
        margin: 0 $grid-padding 0 $grid-padding;
        padding-top: 2 * $grid-padding;

        .sp_appFooterFirstRow {
            margin-bottom: $grid-padding;

            a {
                text-decoration: none;
            }
        }

        .p_copy75--2nd {
            margin-bottom: 0;
        }
    }
}
