@import "susy/sass/susy";
@import "global-frontend-settings/scss/grid";
@import "global-frontend-settings/scss/variables";
@import "global-frontend-settings/scss/mixins";
@import "../../imports/own_frontend_settings/grid";

.sp_footerSmall {
    @include span(susy-get(columns));
    border-top: 1px solid $grey200;
    margin-bottom: $grid-padding;
    margin-top: 2 * $grid-padding;
    padding-top: 3 * $grid-padding;
    visibility: visible !important;

    .sp_leftBox {
        @include span(susy-get(columns));
        margin-bottom: 2 * $grid-padding;
        padding: 0 $grid-padding;
        @include susy-breakpoint($breakpoint-large...) {
            @include span(susy-get(columns) / 2);
            margin-bottom: 2 * $grid-padding;
        }

        .sp_questionText {
            @include susy-breakpoint($breakpoint-large...) {
                display: block;
            }
        }

        .sp_phoneNumber {
            @include font-size($font200);
            margin-bottom: $grid-padding / 2;
            margin-top: $grid-padding;
            text-align: left;
            white-space: nowrap;
            @include susy-breakpoint($breakpoint-large...) {
                display: inline-block;
                margin-bottom: 0;
                text-align: left;
            }
        }

        .sp_conditions {
            text-align: left;
            @include susy-breakpoint($breakpoint-large...) {
                text-align: left;
            }

            .sp_conditionsText {
                display: block;
                @include susy-breakpoint($breakpoint-large...) {
                    display: inline;
                }
            }
        }
    }

    .sp_rightBox {
        @include span(susy-get(columns));
        padding: 0 $grid-padding;
        margin-bottom: 16px;
        @include susy-breakpoint($breakpoint-large...) {
            @include span(susy-get(columns) / 2);
            border-top: 0;
            padding-top: 0;
            text-align: left;
            .footerDummyRow {
                margin-bottom: 16px;
            }
        }
        .availabilityTimes {
            white-space: nowrap
        }

    }

    .sp_ottoUspRowWrapper {
        .sp_ottoUspRow {
            margin-bottom: 3 * $grid-padding;
            margin-top: 0;
            @include susy-breakpoint($breakpoint-large...) {
                margin-bottom: 3 * $grid-padding;
            }
        }
    }

    .sp_veryFinePrint.smallFooterFirstRow {
        margin-bottom: 20px;
    }
    .sp_veryFinePrint.smallFooterFirstRow > a {
        text-decoration: none;
    }
    .sp_veryFinePrint.smallFooterSecondRow {
        margin-bottom: 8px;
    }
    .sp_veryFinePrint.smallFooterThirdRow {
        margin-bottom: 24px;
    }

}
