@import "susy/sass/susy";
@import "global-frontend-settings/scss/variables";
@import "../../imports/own_frontend_settings/grid";

.sp_footerTiny {
    background: $grey50;
    width: 100%;
    height: 14 * $grid-padding;
    min-width: 320px;
    bottom: 0;
    padding: 2 * $grid-padding 2 * $grid-padding 0px;
    text-align: center;
    @include span(susy-get(columns));
    visibility: visible !important;

    .sp_footerTiny_borderBox {
        margin: 0 $grid-padding 0 $grid-padding;
        padding-top: 2 * $grid-padding;

        .sp_tinyFooterFirstRow {
            margin-bottom: $grid-padding;

            a {
                text-decoration: none;
            }
        }

        .p_copy75--2nd {
            margin-bottom: 0;
        }
    }

    @include susy-breakpoint($breakpoint-large...) {
        background: transparent;
        height: auto;
        position: static;
    }

}
