@media (max-width:200px) {
    .sp_smartAppBanner {
        display: none!important;;
    }
}

.sp_smartAppBanner {
    color: #fefefe;
    background-color: #222222;
    line-height: 72px;
    min-height: 74px;
    max-height: 74px;
    position: relative;

    .sp_smartAppBannerFirstColumn {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .sp_smartAppBannerSecondColumn {
        position: absolute;
        top: 0;
        right: 0;
    }

    .sp_smartAppBannerItem {
        font-size: .875rem;
        vertical-align: middle;
    }

    .sp_smartAppBannerClose {
        color: #aaaaaa;
        font-size: 28px;
        font-weight: bold;
        margin-left: 8px;
        margin-right: 4px;
    }

    .sp_smartAppBannerClose:hover,
    .sp_smartAppBannerClose:focus {
        color: #fefefe;
        text-decoration: none;
        cursor: pointer;
    }

    .sp_smartAppBannerGotoAppButton {
        width: auto;
        display: inline-block;
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 4px;
        margin-right: 8px;
    }

    @media (max-width:370px) {
        .sp_smartAppBannerText {
            font-size: 0.75rem;
        }

        .sp_smartAppBannerGotoAppButton {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}