@import "susy/sass/susy";
@import "global-frontend-settings/scss/grid";

$imageHeightInCroppedLWithNavigation: 186px;
$imageWidthInCroppedLWithNavigation: 704px;

.sp_teaser.sp_panoramaTeaser .sp_teaserImage {
    padding-top: $imageHeightInCroppedLWithNavigation / $imageWidthInCroppedLWithNavigation * 100%;
}

.sp_panoramaTeaserWrapper {
    clear: both;
}

.sp_panoramaTeaserHeadline {
    padding-left: $grid-padding;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.33333em;
    text-underline: none;
    display: inherit;

    @include susy-breakpoint($breakpoint-large...) {
        font-size: 36px;
        font-size: 1.5rem;
        line-height: 1.25em;
    }
}

.contentWithSidebar .sp_teaser.sp_panoramaTeaser .sp_teaserImage {
    @include susy-breakpoint($breakpoint-large...) {
        height: $imageHeightInCroppedLWithNavigation;
    }
}
