@import "susy/sass/susy";
@import "global-frontend-settings/scss/grid";
@import "global-frontend-settings/scss/variables";
@import "global-frontend-settings/scss/mixins";
@import "../../imports/own_frontend_settings/grid";

footer {
    &::after {
        clear: both;
        content: "";
        display: block;
    }

    .sp_hideColumnEntryWhenNotLarge {
        display: none !important;
        @include susy-breakpoint($breakpoint-large...) {
            display: inherit !important;
        }
    }

    .sp_hideColumnWhenNotExtraLarge {
        display: none !important;
        @include susy-breakpoint($breakpoint-extra-large...) {
            display: inherit !important;
        }
    }

    .sp_ottoUspRowWrapper {
        @include span(susy-get(columns));
        padding: 0 $grid-padding;

        .sp_ottoUspRow {
            @include span(susy-get(columns));
            background-color: $grey100;
            color: $grey400;
            margin-bottom: 4 * $grid-padding;
            margin-top: 3 * $grid-padding;
            padding-left: 2 * $grid-padding;
            padding-right: 2 * $grid-padding;
            text-align: center;
            @include susy-breakpoint($breakpoint-large...) {
                margin-top: $grid-padding;
            }

            .sp_ottoUspCenter {
                display: inline-block;
                padding-bottom: $grid-padding;
                padding-top: $grid-padding;
                @include susy-breakpoint($breakpoint-large...) {
                    padding-bottom: 0;
                    padding-top: 0;
                }

                &:before,
                &:after {
                    clear: both;
                    content: '';
                    display: block;
                    overflow: hidden;
                    @include susy-breakpoint($breakpoint-large...) {
                        display: none;
                    }
                }
            }

            .sp_ottoUsp {
                clear: both;
                display: inline-block;
                float: left;
                padding: $grid-padding 0;
                text-align: center;
                width: auto;
                @include susy-breakpoint($breakpoint-large...) {
                    clear: none;
                    float: none;
                    padding-left: $grid-padding;
                }
                @include susy-breakpoint($breakpoint-extra-large...) {
                    padding-left: 3 * $grid-padding;
                }

                .sp_checkMark {
                    @include font-size($font250);
                    padding-right: $grid-padding;
                }

                .sp_footerUspDescr {
                    position: relative;
                    top: -6px;
                }

                @media (max-width: 400px) {
                    .sp_footerUspDescrDate {
                        position: relative;
                        text-align: left;
                        top: -2px;
                        left: 37px;
                        display: block;
                    }
                }
            }
        }
    }

    .sp_veryFinePrint {
        @include span(susy-get(columns));
        padding: 0 $grid-padding;
        text-align: center;

        p {
            margin-bottom: 0;
            margin-top: $grid-padding;
        }
    }
}
