%p_energyLabel {
  @include font-size($font100);
  color: $white;
  height: 20px;
  line-height: 21px;
  padding: 0 22px 0 5px;
  position: relative;
  width: 35px;

  // Optimized border property not possible with transparent/inherit mix -> <color> | transparent ]{1,4} | inherit
  &:after {
    border-color: transparent;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-left-color: inherit;
    content: "";
    height: 0;
    position: absolute;
    right: -10px;
    left: 100%;
    top: 0;
    width: 0;
  }
}

.p_energyLabel100 {
  @extend %p_energyLabel;

  .p_energyLabel__plus {
    font-size: 9px;
    left: 16px;
    letter-spacing: 1px;
    line-height: inherit;
    position: absolute;
    top: -2px;
  }
}

.p_energyLabel200 {
  @extend %p_energyLabel;
  @include font-size($font175, false);
  height: 30px;
  line-height: 30px;
  padding-left: 8px;
  width: 50px;

  .p_energyLabel__plus {
    font-size: 13px;
    left: 22px;
    letter-spacing: 1px;
    line-height: inherit;
    position: absolute;
    top: -3px;
  }

  &:after {
    border-width: 15px 0 15px 15px;
    right: -15px;
  }
}

.p_energyLabel--darkGreen {
  background-color: $energy-label-dark-green;
  border-color: $energy-label-dark-green;
}

.p_energyLabel--mediumGreen {
  background-color: $energy-label-medium-green;
  border-color: $energy-label-medium-green;
}

.p_energyLabel--lightGreen {
  background-color: $energy-label-light-green;
  border-color: $energy-label-light-green;
}

.p_energyLabel--yellow {
  background-color: $energy-label-yellow;
  border-color: $energy-label-yellow;
}

.p_energyLabel--lightOrange {
  background-color: $energy-label-light-orange;
  border-color: $energy-label-light-orange;
}

.p_energyLabel--darkOrange {
  background-color: $energy-label-dark-orange;
  border-color: $energy-label-dark-orange;
}

.p_energyLabel--red {
  background-color: $energy-label-red;
  border-color: $energy-label-red;
}

$icons: (
  "darkGreen": $energy-label-dark-green,
  "mediumGreen": $energy-label-medium-green,
  "lightGreen": $energy-label-light-green,
  "yellow": $energy-label-yellow,
  "lightOrange": $energy-label-light-orange,
  "darkOrange": $energy-label-dark-orange,
  "red": $energy-label-red,
);

%p_energyLabelScala {
  background-repeat: no-repeat;
  width: 36px;
  color: $white;
  height: 20px;
  display: block;
  text-align: left;
  line-height: 20px;
  padding-left: 13px;
  font-size: 15px;
}

.p_energyLabelScala100 {
  @extend %p_energyLabelScala;
}

@each $name, $color in $icons {
  /*

  poor man's workflow
  1. go to https://jakearchibald.github.io/svgomg/ and paste and compress svg
  2. encode compressed output here: https://yoksel.github.io/url-encoder/ (Ready for CSS)
  3. replace result in line 135
  4. dont forget to use variable fill='#{$color}'
  5. tell ipanema about the new label
  6. if you want to be nice: generate for them png files https://gist.github.com/christianhaller3000/17536091591a318da95500303f720acf

   */
  .p_energyLabelScala--#{$name} {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35 20'%3E%3Cpath fill='#{$color}' d='M26.1 0H0v20h26.1L35 9.6z'/%3E%3Cpath fill='%23ffffff' d='M0 0h8v20H0z'/%3E%3Cpath d='M4.1 16.5h1v.6c-.1.1-.3.2-.5.3s-.3.1-.5.1c-.3 0-.6-.1-.8-.4s-.4-.8-.4-1.4.1-1 .3-1.3.5-.4.9-.4c.2 0 .4.1.6.2s.3.3.3.6l.8-.2c-.1-.5-.3-.8-.6-1.1s-.7-.4-1.2-.4c-.4 0-.8.1-1.1.3s-.4.6-.6 1-.3.8-.3 1.4c0 .5.1 1 .3 1.4s.4.7.7.9.7.3 1.1.3c.3 0 .7-.1 1-.2s.6-.3.8-.5v-2H4.1v.8zM3.2 5.4h1.6l.4 1.1h.9l-1.6-5h-.9L2 6.5h.9l.3-1.1zm.9-2.7l.6 1.9H3.5l.6-1.9zM5.6 8.9L4 7.5 2.3 8.9l.6.6.7-.6v3.3h.8V8.9l.6.6z'/%3E%3Cpath d='M26.1 20H0V0h26.1l9 9.6-9 10.4zM.5 19.5h25.3l8.6-9.9L25.8.5H.5v19z'/%3E%3C/svg%3E");
  }
}

.p_energyLabelScala200 {
  @extend %p_energyLabelScala;
  height: 30px;
  width: 52px;
  padding-left: 20px;
  font-size: 20px;
  line-height: 30px;
}
