@import "../sanBase";

/*Top Paging*/
.paging, #find_paging_placeholder {
  display: none;
  padding: 2px $outer-grid-padding 2px 0;
  @include susy-breakpoint($breakpoint-large...) {
    display: block;
  }
}
