.p_statusSteps100 {
    box-sizing: border-box;
    @include font-size($font100, true);

    &:after {
        clear:both;
        content:"";
        display:table
    }
    position: relative; // To allow for absolute positioning within
}

.p_statusSteps100__step {
    $dimension: 25; // Diameter of the circles in px

    &:after {
        clear:both;
        content:"";
        display:table
    }
    color: $grey400;
    float: left;
    font-family: $sansThinFontFamily;
    // Make room for the label in S to the bottom
    padding-bottom: map-get($font100, line-height) + 2px;

    // Starting with L that room is no longer needed
    @include susy-breakpoint($breakpoint-large...) {
        padding-bottom: 0;
    }

    > i {
        border: 1px solid $grey400;
        border-radius: 50%;
        display: block;
        float: left;
        font-style: normal;
        height: #{$dimension}px;
        line-height: #{$dimension - 2}px;
        margin-right: 6px;
        text-align: center;
        width: #{$dimension}px;
    }

    > span {
        // Don't show inactive labels on S
        display: none;

        // Show labels inline starting with L
        @include susy-breakpoint($breakpoint-large...) {
            display: block;
            float: left;
            line-height: #{$dimension}px;
            margin-right: 7px;
        }

        // Starting with XL show labels inline with more distance
        @include susy-breakpoint($breakpoint-extra-large...) {
            margin-right: 15px;
        }
    }
}

.p_statusSteps100__step--active {
    font-family: $sansFontFamily;
    font-weight: bold;

    > i {
        background-color: $grey400;
        color: $white;
    }

    > span {
        // For S move label below list
        bottom: 0;
        display: block;
        left: 0;
        position: absolute;

        // Starting with L show labels inline
        @include susy-breakpoint($breakpoint-large...) {
            position: inherit;
            top: 0;
        }
    }
}