@import "global-frontend-settings/scss/grid",
        "global-frontend-settings/scss/mixins",
        "global-frontend-settings/scss/variables",
        "susy/sass/susy";

.wl_mini {
  text-align: center;
  width: 40px;
  height: 40px;
  position: relative;
  text-decoration: none !important; // always overwrite styling for link masking from ub64e
  display: block;
  padding-top: 4px;
  cursor: pointer;

  @include susy-breakpoint($breakpoint-large...) {
    width: 65px;
    padding-top: 0;
  }
}

.wl_mini__icon {
  display: block;
  @include font-size((font-size: 30px, line-height: 31px));

  @include susy-breakpoint($breakpoint-large...) {
    @include font-size((font-size: 24px, line-height: 28px));
  }
}

.wl_mini__text {
  display: none;
  @include font-size((font-size: 12px, line-height: 14px));

  @include susy-breakpoint($breakpoint-large...) {
    display: block;
  }
}

.wl_mini__badge {
  position: absolute;
  left: 20px;
  top: 21px;

  @include susy-breakpoint($breakpoint-large...) {
    left: 32px;
    top: 15px;
  }

  &.wl_mini__badge--empty {
    display: none;
  }
}