.user_system_rwd {
    .us_updatePhoneNumberWithoutParcelShopSms {
        .us_updatePhoneNumberField {
            width: 66%;
        }
    }
    .us_updatePhoneNumberWithParcelShopSms {
        margin-top: 32px;

        @include susy-breakpoint($breakpoint-large...) {
            margin-top: 64px;
        }

        .us_updatePhoneNumberField {
            width: 53%;
        }

        .us_updatePhoneNumberFieldEmpty {
            width: 52%;

            @include susy-breakpoint($breakpoint-medium...) {
                width: 51%;
            }
        }

        .us_updatePhoneNumberBlankLabelField {
            width: 86%;
            margin-top: 11px;
            text-align: right;
        }

        .us_parcelSmsRadioField {
            width: 11%;
        }

        .us_parcelShopButtonsSpacerTop {
            margin-top: 30px;

            @include susy-breakpoint($breakpoint-large...) {
                margin-top: 75px;
            }
        }
    }

    .us_changePhoneNumberParcelShopHint {
        margin: 15px 0 10px 0;

        @include susy-breakpoint($breakpoint-medium...) {
            margin: 100px 0 10px 0;
        }

        @include susy-breakpoint($breakpoint-large...) {
            margin: 50px 0 10px 0;
        }

    }
}