
.us_subscribeToNewsletterStorybook {
    color: $black100;

        .us_storybookHeading {
            .us_storybookHeadingStep i {
                margin-right: 10px;
            }

            .us_storybookHeadingText {
                padding-right: 20px;
                padding-top: 3px;
            }
            .us_storybookHeadingIcon {
                width: 120px;
                height: 60px;
                background-image: url('../../../img/user/newsletter/iconsprite_nl_doi.png');
                background-size: 100% auto;
                background-repeat: no-repeat;
                margin: 10px 0 10px 36px;

                &.us_storybookHeadingIconStep1 {
                    background-position: 0 0;
                }

                &.us_storybookHeadingIconStep2 {
                    background-position: 0 -60px;
                }

                &.us_storybookHeadingIconStep3 {
                    background-position: 0 -120px;
                }
            }

            @include span(6);

            @include susy-breakpoint($breakpoint-large...) {
                @include span(4);

                .us_storybookHeadingIcon {
                    width: 160px;
                    height: 80px;
                    margin: 20px 0 20px 36px;

                    &.us_storybookHeadingIconStep1 {
                        background-position: 0 0;
                    }

                    &.us_storybookHeadingIconStep2 {
                        background-position: 0 -80px;
                        margin-left: 0;
                    }

                    &.us_storybookHeadingIconStep3 {
                        background-position: 0 -160px;
                    }
                }
            }
        }
}

.us_subscribeToNewsletterStorybookHintList {
    color: $grey400;

    padding-top: 20px;

    ul{
        margin-top: 15px;
    }

    @include susy-breakpoint($breakpoint-large...) {
        padding-top: 40px;
        ul{
             margin-top: 30px;
        }
    }

    li{
        line-height: 1.628571em;
    }

}

