@import "global-frontend-settings/scss/grid";
@import "susy/sass/susy";

@font-face {
  font-family: "OttoSans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/otto-sans.woff2") format("woff2"),
    url("../fonts/otto-sans.woff") format("woff"),
    url("../fonts/otto-sans.ttf") format("truetype");
}

@font-face {
  font-family: "OttoSans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/otto-sans-bold.woff2") format("woff2"),
    url("../fonts/otto-sans-bold.woff") format("woff"),
    url("../fonts/otto-sans-bold.ttf") format("truetype");
}

@include susy-breakpoint($breakpoint-large...) {
  @font-face {
    font-family: "OttoSansThin";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/otto-sans-thin.woff2") format("woff2"),
      url("../fonts/otto-sans-thin.woff") format("woff"),
      url("../fonts/otto-sans-thin.ttf") format("truetype");
  }
}
