@import "@otto-de/global-frontend-settings/all";
@import "susy/sass/susy";

/// @name info-container-width
$info-container-width: 160px;

/// @name info-container-margin-right
$info-container-margin-right: 6px;

/// @name info-container-margin-left
$info-container-margin-left: 24px;

/// @name info-container-total-width
$info-container-total-width: $info-container-width + $info-container-margin-right + $info-container-margin-left;

.cookieBanner {
    @include font-size($font75);

    bottom: 0;
    box-shadow: 0 0 10px $grey400;
    box-sizing: border-box;
    background-color: $grey25;
    display: block !important;
    min-height: 7 * $inner-grid-padding;
    padding: $inner-grid-padding 0 12px;
    position: fixed;
    visibility: hidden;
    width: 100%;
    z-index: 9003; // Three steps above layer

    @include susy-breakpoint($breakpoint-large...) {
        @include font-size($font100);

        padding-bottom: 20px;
        padding-top: 20px;
    }

    &__container {
        @include susy-breakpoint($breakpoint-max-show-info-container...) {
            margin-left: auto;
            margin-right: auto;
            width: susy-get(container) + $info-container-total-width;
        }
    }

    &__wrapper {
        background-color: transparent;
        left: 0;
        margin: 0 auto;
        max-width: container();
        min-width: 320px;
        padding: 0 $inner-grid-padding;
        position: relative;
        transition: none;
        transform: translateX(0) !important;

        @include susy-breakpoint($breakpoint-large...) {
            padding: 0 (2 * $inner-grid-padding);
        }

        @include susy-breakpoint($breakpoint-min-show-info-container...) {
            $unitless-info-container-total-width: $info-container-total-width / 1px;
            $unitless-min-show-info-container-width: $min-show-info-container-width / 1em * 16;
            $content-share-of-total-width: 1 - $unitless-info-container-total-width / $unitless-min-show-info-container-width;

            float: left;
            margin-right: $info-container-total-width;
            min-width: 1025px; // min. xl-gridContainer-innerWidth (961px) + left- and right-padding (2 x 32px)
            padding: 0 (4 * $inner-grid-padding);
            width: floor(percentage($content-share-of-total-width));
        }

        @include susy-breakpoint($breakpoint-max-show-info-container...) {
            float: left;
            width: susy-get(container);
        }

        &::before {
            background-color: #f6f6f6;
            border-radius: 28px;
            box-shadow: 0 0 10px #777;
            clip: rect(-10px, 66px, 31px, -10px);
            content: " ";
            display: block;
            height: 56px;
            left: 50%;
            margin-left: -28px;
            position: absolute;
            top: -39px;
            width: 56px;

            @include susy-breakpoint($breakpoint-large...) {
                border-radius: 47px;
                clip: rect(-10px, 104px, 50px, -10px);
                height: 94px;
                margin-left: -47px;
                top: -70px;
                width: 94px;
            }

            @media only screen and (min-width: 1232px) {
                clip: rect(-10px, 104px, 47px, -10px);
            }

            @media (min-width: 77em) {
                top: -67px;
            }
        }

        &::after {
            background-color: $grey25;
            content: " ";
            display: block;
            left: 50%;
            margin-left: -28px;
            position: absolute;
            top: -17px;
            width: 56px;
            z-index: 8998;

            @include susy-breakpoint($breakpoint-large...) {
                margin-left: -47px;
                top: -29px;
                width: 94px;
            }

            @media (min-width: 77em) {
                top: -21px;
            }
        }
    }

    &__bottom {
        min-height: 344px;
    }

    &__iconLink {
        display: block;
        height: 34px;
        left: 50%;
        margin-left: -17px;
        position: absolute;
        top: -28px;
        width: 34px;
        z-index: 8999;

        > svg {
            pointer-events: none;
        }

        @include susy-breakpoint($breakpoint-large...) {
            height: 56px;
            margin-left: -28px;
            top: -52px;
            width: 56px;
        }

        @media (min-width: 77em) {
            top: -52px;
        }
    }

    &__button {
        margin-top: 28px;
        margin-bottom: 1em;
    }

    &__info {
        margin: 0 16px 0;
        text-align: center;
        overflow: auto;
        line-height: 24px;
        letter-spacing: 0.35px;

        @include susy-breakpoint($breakpoint-large...) {
            margin-bottom: 0;
            margin-right: 74px;
            margin-left: 74px;
            @include font-size($font150);
        }

        @media (min-width: 77em) {
            margin-right: 78px;
            margin-left: 78px;
        }

        .cookieBannerTextReplace {
            .app & {
                visibility: hidden;
                letter-spacing: -999px;
                word-spacing: -999px;

                &:before {
                    visibility: visible;
                    content: "in dieser App";
                    letter-spacing: normal;
                    word-spacing: normal;
                }
            }
        }
    }

    &__headline {
        @include font-size($font175);
        text-align: center;
        font-weight: bold;
        margin-top: 24px;
        font-family: OTTOSans, Arial, Helvetica, sans-serif;

        @include susy-breakpoint($breakpoint-large...) {
            @include font-size($font225);
            margin-top: 30px;
            margin-bottom: 8px;
        }
    }

    &__footer {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    &__more_info {
        float: right;
    }

    &__scrollable {
        height: 215px;
        overflow: auto;
    }

    .data_usage_text {
        text-align: left;
    }

    .headline_data_usage_head {
        margin-top: 56px;
        margin-bottom: 8px;
    }

    .cookieBannerAppText {
        display: none;
    }

    .app & {
        .cookieBannerWebsiteText {
            display: none;
        }

        .cookieBannerAppText {
            display: initial;
        }
    }

    &--visibility {
        visibility: visible;
        transition: margin-bottom 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }
}
