/* https://stackoverflow.com/a/58783503/408668 */
$select-base-gap-x: 12px;
$select-gap-x: calc(#{$select-base-gap-x} - 8px);
$select-gap-x_edge: calc(#{$select-base-gap-x} - 3px);
$select-gap-x_ie: calc(#{$select-base-gap-x} - 2px);

.p_dropdown,
.p_dropdown_wrapper {
  position: relative;
  margin-top: 6px; // weissraum für das floating label
  margin-bottom: 24px;

  .p_dropdown_wrapper & {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__element {
    appearance: none;
    cursor: pointer;
    background-color: $white;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M11.997 16.37a.998.998 0 01-.623-.217l-8.5-6.758A1.001 1.001 0 014.12 7.83l7.878 6.263 7.877-6.255a1 1 0 011.244 1.566l-8.5 6.75a.998.998 0 01-.621.217h-.001z' fill='%23777'/%3E%3C/g%3E%3C/svg%3E");
    background-position: right 12px center;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    border: 1px solid $grey200; // #C4C4C4;
    border-radius: 3px;
    @include font-size($font125, true);
    display: block;
    margin: 0;
    text-indent: 5px;
    outline: none;
    padding: 8px 40px 8px $select-gap-x;
    vertical-align: baseline;
    width: 100%;
    color: $black50; // rgb(51, 51, 51) #333333

    &::-ms-expand {
      display: none;
    }

    &:focus {
      border-color: $black;
    }

    option {
      color: $black;
      padding: 2px 8px;
      /* warum? */
      &[value=""] {
        color: $black50;
      }
    }

    &[value][value=""] {
      .p_dropdown--invalid & {
        border-color: $red100 !important;
        color: $red100 !important;

        option {
          color: $red100;
        }
      }
    }
  }

  .p_label {
    /* move it behind. otherwise you can't click the select element to choose an option */
    z-index: -1;
  }

  &--invalid {
    .p_dropdown__note {
      color: $red100;
    }
  }

  &__note {
    clear: both;
    display: block;
    margin: 10px 0 0 16px;
    color: $grey400;
    @include font-size($font75, false);

    .p_dropdown_wrapper & {
      float: left;
    }
  }

  &--float {
    float: left;
    margin-right: 8px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

/* edge 12-18 */
@supports (-ms-ime-align: auto) {
  .p_dropdown__element {
    padding-left: $select-gap-x_edge;
  }
}

/* ie10-11 */
_:-ms-input-placeholder,
:root .p_dropdown__element {
  padding-left: $select-gap-x_ie;
}

/* Chrome 37+ (and Opera 24+) */
@supports (-webkit-appearance: none) and (shape-outside: none) {
  .p_dropdown__element {
    // Webkit doesn't need any correction for padding so it uses raw base value
    padding-left: $select-base-gap-x;
  }
}

/* Safari 6.2,7.1+ */
_::-webkit-full-page-media,
_:future,
:root .p_dropdown__element {
  // Webkit doesn't need any correction for padding so it uses raw base value
  padding-left: $select-base-gap-x;
}

/* Firefox */
@-moz-document url-prefix() {
  .p_dropdown__element {
    // Firefox recognizes hacks for webkit, so it needs a proper padding setting again
    padding-left: $select-gap-x;
  }
}

.p_dropdown_wrapper:after {
  clear: both;
  content: "";
  display: table;
}
