/// Sets hover state for non-touch-devices and active state for touch-devices
@mixin set-hover-and-active-style() {
    .not-touchable & {
        &:hover {
            @content
        }
    }

    .touchable & {
        &:active {
            @content
        }
    }
}

.p_symbolBtn150--1st,
.p_symbolBtn150--2nd,
.p_symbolBtn150--3rd,
.p_symbolBtn150--4th,
.p_symbolBtn150--5th,
.p_symbolBtn100--1st,
.p_symbolBtn100--2nd,
.p_symbolBtn100--3rd,
.p_symbolBtn100--4th,
.p_symbolBtn100--5th,
.p_symbolBtn50--1st,
.p_symbolBtn50--2nd,
.p_symbolBtn50--3rd,
.p_symbolBtn50--4th,
.p_symbolBtn50--5th,
.p_symbolBtn25--1st,
.p_symbolBtn25--2nd,
.p_symbolBtn25--3rd,
.p_symbolBtn25--4th,
.p_symbolBtn25--5th,
.p_symbolBtn10--3rd {
    box-sizing: border-box;
    @include font-size($font100, true);
    background-clip: padding-box;
    background-repeat: repeat-x;
    border: medium none;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    outline: 0 none;
    overflow: visible;
    padding: 0 !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: center;
    vertical-align: bottom;

    // disabled
    &[disabled],
    &[disabled]:hover,
    &[disabled]:active {
        color: $disabled-color;
        cursor: default;
    }

    // icon
    i {
        font-family: $iconsFontFamily !important;
        font-style: normal;
    }
}

// 1st, 2nd, 3rd, 4th, 5th styles
// 1st color & background
.p_symbolBtn150--1st,
.p_symbolBtn100--1st,
.p_symbolBtn50--1st,
.p_symbolBtn25--1st {
    background: $red100;
    color: $grey25;

    @include set-hover-and-active-style {
        background: $red50;
        color: $white;
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:active {
        background: $disabled-color;
        color: #EEEEEE;
    }
}

// 2nd
.p_symbolBtn150--2nd,
.p_symbolBtn100--2nd,
.p_symbolBtn50--2nd,
.p_symbolBtn25--2nd {
    background: #796D6A;
    background: linear-gradient(to bottom, #666666, #796D6A);
    color: $grey25;

    @include set-hover-and-active-style {
        background: $grey400;
        color: $white;
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:active {
        background: $disabled-color;
        color: #EEEEEE;
    }
}

// 3rd
.p_symbolBtn150--3rd,
.p_symbolBtn100--3rd,
.p_symbolBtn50--3rd,
.p_symbolBtn25--3rd,
.p_symbolBtn10--3rd {
    background-color: $grey25;
    border: 1px solid $grey200;
    color: $black50;

    @include set-hover-and-active-style {
        background: #FEFEFE;
        color: #D5281E;
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:active {
        background: none;
        color: $disabled-color;
    }
}

// 4th
.p_symbolBtn150--4th,
.p_symbolBtn100--4th,
.p_symbolBtn50--4th,
.p_symbolBtn25--4th {
    background: none;
    color: $black50;

    @include set-hover-and-active-style {
        background: $grey50;
        color: #D5281E;
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:active {
        background: $white;
        border-color: $disabled-color;
        color: $disabled-color;
    }
}

// 5th
.p_symbolBtn150--5th,
.p_symbolBtn100--5th,
.p_symbolBtn50--5th,
.p_symbolBtn25--5th {
    background: transparent;
    color: $white;
    text-shadow: 1px 2px 8px $black100;

    &[disabled],
    &[disabled]:hover,
    &[disabled]:active {
        background: transparent;
        border-color: $disabled-color;
        color: $disabled-color;
        text-shadow: none;
    }
}

// btn150
// all
.p_symbolBtn150--1st,
.p_symbolBtn150--2nd,
.p_symbolBtn150--3rd,
.p_symbolBtn150--4th,
.p_symbolBtn150--5th {
    @include font-size($font300, false);
    height: 50px;
    line-height: 50px;
    width: 50px;
}

// 3rd (border!)
.p_symbolBtn150--3rd {
    line-height: 48px;
}

// btn100
// all
.p_symbolBtn100--1st,
.p_symbolBtn100--2nd,
.p_symbolBtn100--3rd,
.p_symbolBtn100--4th,
.p_symbolBtn100--5th {
    @include font-size($font225, false);
    height: 40px;
    line-height: 40px;
    width: 40px;
}

// 3rd (border!)
.p_symbolBtn100--3rd {
    line-height: 38px;
}

// btn50
// all
.p_symbolBtn50--1st,
.p_symbolBtn50--2nd,
.p_symbolBtn50--3rd,
.p_symbolBtn50--4th,
.p_symbolBtn50--5th {
    @include font-size($font150, false);
    height: 30px;
    line-height: 30px;
    width: 30px;
}
.p_symbolBtn25--5th {
    font-size: 20px;
    @include font-size((font-size: 20px, line-height: 20px), false);
}

.p_symbolBtn50--5th {
    @include font-size((font-size: 30px, line-height: 30px), false);
}
.p_symbolBtn100--5th {
    @include font-size((font-size: 40px, line-height: 40px), false);

}
.p_symbolBtn150--5th {
    @include font-size((font-size: 50px, line-height: 50px), false);
}


// 3rd (border!)
.p_symbolBtn50--3rd {
    line-height: 28px;
}

// btn25
// all
.p_symbolBtn25--1st,
.p_symbolBtn25--2nd,
.p_symbolBtn25--3rd,
.p_symbolBtn25--4th,
.p_symbolBtn25--5th {
    height: 20px;
    line-height: 20px;
    width: 20px;
}

// 3rd (border!)
.p_symbolBtn25--3rd {
    line-height: 18px;
}

// btn10
.p_symbolBtn10--3rd {
    height: 14px;
    width: 14px;
    line-height: 13px;
    @include font-size((font-size: 12px, line-height: 13px), true);
}