.p_radio {
  margin-bottom: 24px;

  &:after {
    clear: both;
    content: "";
    display: table;
  }

  &__button {
    width: 20px;
    height: 20px;
    margin: 10px 8px 0 0;
    -webkit-appearance: none;
    outline: none;
    vertical-align: top;
    border: 1px solid $grey200;
    border-radius: 50% 50%;
    display: inline-block;
    &:checked {
      border-color: $grey200 !important;
    }

    &:checked:after {
      background: $black;
      border-radius: 50%;
      content: "\00a0";
      display: block;
      height: 8px;
      left: 5px;
      position: relative;
      top: 5px;
      width: 8px;
    }
  }

  &__label {
    display: inline-block;
    color: $black50;
    @include font-size($font125, true);
    padding: 10px 0;
  }

  &__note {
    clear: both;
    @include font-size($font75, false);
    display: block;
  }

  &--invalid {
    .p_radio__button {
      border-color: $red100;
    }
    .p_radio__note {
      color: $red100;
    }
  }
}
