@import 'config';
@import 'global-frontend-settings/scss/variables';

.benefit_lever {
  .benefit_leverSlideshowPromo {
    background: $grey25;
    padding: 8px;
    text-align: center;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0.9;

    @media #{$s-and-m-mq} {
      opacity: 1;
    }

    .benefit_leverSlideshowPromoValue {
      @include font-size($font200);
      vertical-align: middle;
      height: 24px;
      line-height: 24px;
      max-width: 85px;
      color: $red100;
      display: inline;
      margin-right: 6px;
    }

    .benefit_leverSlideshowPromoTextShort {
      @include font-size($font100);
      vertical-align: middle;
      height: 24px;
      line-height: 24px;
      display: none;

      @media #{$s-and-m-mq} {
        display: inline-block;
      }
    }

    .benefit_leverSlideshowPromoTextLong {
      @include font-size($font100);
      vertical-align: middle;
      height: 24px;
      line-height: 24px;
      display: inline-block;

      @media #{$s-and-m-mq} {
        display: none;
      }
    }
  }
}
