@import "_config";
@import "global-frontend-settings/scss/_variables";
@import "global-frontend-settings/scss/mixins";

.promo_static-promotion-teaser-container {
  visibility: visible !important;
}

.promo_static-promotion-headline {
  padding: 0px 8px 4px;

  @include font-size($font150);
  @media (min-width: $large-width) {
    @include font-size($font225);
  }
}

.promo_static-promotion-teaser-container {
  margin-top: 16px;
  margin-bottom: 32px;
  @media (min-width: $large-width) {
    margin-bottom: 8px;
  }
}

.promo_imagebanner, .promo_panoteaser {
  margin-top: 16px;
  margin-bottom: 32px;
}

.promo_static-promotion-teaser-item {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

.promo_narrowContext {
  .promo_static-promotion-teaser-item {
    width: 33%;
  }
}

@include respond-to($s-and-m-mq) {
  .promo_static-promotion-teaser-item {
    display: block;
    width: 100%;

    // These borders are replicated by ShopPages on their own pages
    $border: 1px solid $grey200;
    border-top: $border;

    &:last-child {
      border-bottom: $border;
    }
  }
}


