.user_system_rwd {

    .us_packstationHint {
        @include font-size($font100);
    }

    .p_form {
        .us_countryDeliveryText {
            .us_abroad {
                cursor: pointer;
                padding-top: 10px;
                text-decoration: underline;
                white-space: nowrap;
                color: $grey400;
            }
        }
    }


    .us_abroadForm {
        .us_abroadCustomMargin {
                margin-top: 15px;
            }
    }
}