@import "susy/sass/susy";
@import "global-frontend-settings/scss/grid";
@import "global-frontend-settings/scss/mixins";
@import "global-frontend-settings/scss/variables";
@import "../../imports/own_frontend_settings/grid";

.sp_contentNavigation {
    overflow-x: hidden;
    padding-right: $grid-padding;
    padding-left: $grid-padding;
    margin-bottom: 2 * $grid-padding;
    visibility: visible !important;
    @include span(susy-get(columns));
    @include susy-breakpoint($breakpoint-large...) {
        margin-bottom: 0;
        @include span($left-navigation-cols);
    }

    .sp_contentNavigationHeadline {
        display: none;
        @include susy-breakpoint($breakpoint-large...) {
            display: block;
            padding: ($grid-padding / 2) $grid-padding;
            @include font-size($font100);
            color: $red100;
        }
    }

    .sp_contentNavigationLink {
        display: none;
        @include susy-breakpoint($breakpoint-large...) {
            display: block;
            padding: ($grid-padding / 2) $grid-padding;
            @include font-size($font100);
            text-decoration: none;
        }

        &:hover {
            @include susy-breakpoint($breakpoint-large...) {
                background-color: $grey50;
            }
        }
    }

    .sp_firstLevelNode {
        @include susy-breakpoint($breakpoint-large...) {
            border-bottom: 1px solid $grey200;
            font-weight: bold;
        }
    }

    .sp_activeChildInHierarchy {

        .sp_contentNavigationLink {
            display: block;
            text-decoration: none;
            font-family: $sansFontFamily;
            padding: $grid-padding;
            border-top: 1px solid $grey200;
            @include font-size($font150);
            @include susy-breakpoint($breakpoint-large...) {
                padding-top: $grid-padding / 2;
                padding-bottom: $grid-padding / 2;
                border-top: none;
                @include font-size($font100);
            }

            &:before {
                content: ">";
                float: right;
                font-family: $iconsFontFamily;
                @include font-size($font150);
                padding-left: 10px;
                padding-right: 10px;
                @include susy-breakpoint($breakpoint-large...) {
                    display: none;
                }
            }
        }
    }

    li {
        display: none;
        @include susy-breakpoint($breakpoint-large...) {
            display: list-item;
        }

        &.sp_activeInHierarchy {
            display: list-item;

            .sp_contentNavigationHeadline {
                @include susy-breakpoint($breakpoint-large...) {
                    font-weight: bold;
                }
            }

            > .sp_contentNavigationLink {
                @include susy-breakpoint($breakpoint-large...) {
                    font-weight: bold;
                }
            }

            &.sp_activeChildInHierarchy {

                .sp_contentNavigationLink {
                    @include susy-breakpoint($breakpoint-large...) {
                        font-weight: normal;
                    }
                }

                &:last-child > .sp_contentNavigationLink {
                    border-bottom: 1px solid $grey200;
                    margin-bottom: 2 * $grid-padding;
                    @include susy-breakpoint($breakpoint-large...) {
                        border-bottom: none;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    ul .sp_subNavigation {
        @include susy-breakpoint($breakpoint-large...) {
            margin-left: $grid-padding;
        }

        .sp_subNavigation {
            @include susy-breakpoint($breakpoint-large...) {
                list-style: disc;
                padding-left: 3 * $grid-padding;
            }

            .sp_contentNavigationHeadline {
                @include susy-breakpoint($breakpoint-large...) {
                    padding-left: 0;
                }
            }

            .sp_contentNavigationLink {
                @include susy-breakpoint($breakpoint-large...) {
                    margin-left: -3 * $grid-padding;
                    padding-left: 3 * $grid-padding;
                }
            }

            .sp_activeNode {
                @include susy-breakpoint($breakpoint-large...) {
                    color: $red100;
                }
            }
        }
    }
}

.touchable .sp_contentNavigation {

    visibility: visible !important;

    .sp_contentNavigationHeadline {
        @include susy-breakpoint($breakpoint-large...) {
            padding-top: 1.5 * $grid-padding;
            padding-bottom: 1.5 * $grid-padding;
        }
    }

    .sp_contentNavigationLink {
        @include susy-breakpoint($breakpoint-large...) {
            padding-top: 1.5 * $grid-padding;
            padding-bottom: 1.5 * $grid-padding;
        }
    }
}
