@import "susy/sass/susy";
@import "global-frontend-settings/scss/grid";
@import "global-frontend-settings/scss/mixins";
@import "global-frontend-settings/scss/variables";
@import "../../imports/own_frontend_settings/grid";

.contentFullWidth {
    @include span(susy-get(columns));
}

.contentWithSidebar {
    @include span(susy-get(columns));
    @include susy-breakpoint($breakpoint-large...) {
        @include span(susy-get(columns)-$left-navigation-cols);
    }
}

.storefront {
    .sp_storefrontContentElements > :first-of-type {
        margin-top: $grid-padding;
        @include susy-breakpoint($breakpoint-large...) {
            margin-top: 0;
        }
    }
    .contentText {
        margin-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;

        h1 {
            margin-bottom: 10px;
        }

        h2,
        h3,
        h4,
        h5 {
            @include font-size($font125);
            margin-bottom: 10px;
        }
    }
}


.popupPage {
    min-width: 0;
    padding: (2 * $grid-padding) $grid-padding (2 * $grid-padding) $grid-padding;
}



