.p_annotation {
  background-color: $grey100;
  border-radius: 3px;
  color: $grey400;
  padding: 8px;
  position: relative;

  &:after {
    border: 9px solid transparent;
    content: " ";
    left: 24px;
    margin-left: -9px;
    position: absolute;
  }
}

///
/// Creates top and bottom variants with css-arrows
///
/// @param {map} $font-size - font size variable
///
@mixin annotaion-variants($font-size) {
  &--top {
    @include font-size($font-size);
    @extend .p_annotation;

    &:after {
      border-bottom-color: $grey100;
      bottom: 100%;
    }
  }

  &--bottom {
    @include font-size($font-size);
    @extend .p_annotation;

    &:after {
      border-top-color: $grey100;
      top: 100%;
    }
  }

  &--left {
    @include font-size($font-size);
    @extend .p_annotation;

    &:after {
      border-right-color: $grey100;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      margin-left: -18px;
    }
  }
  &--right {
    @include font-size($font-size);
    @extend .p_annotation;

    &:after {
      border-left-color: $grey100;
      top: 50%;
      transform: translateY(-50%);
      right: -18px;
      left: auto;
    }
  }
}

.p_annotation100 {
  @include annotaion-variants($font100);
}
