.karma_assortment {

  &--invisible {
    opacity: 0;
    z-index: -42; //magic z index to check if css is onCssAndFirstImageLoaded in carousel.js
  }

  &--visible {
    opacity: 1 !important;
    transition: opacity 180ms linear;
    z-index: auto;
  }

  &--container {
    visibility: visible !important;
    position: relative;
    touch-action: pan-y; //allow vertical scrolling,
  }

  &--cinema-button {
    visibility: visible;
    position: absolute;
    transform: translate(-50%, -50%);
    height: 402px;
    cursor: pointer;
    top: calc(50% + 5px);
    margin: auto;
    z-index: 10;

    .touchable & {
      visibility: hidden;
    }

    &-left {
      left: 25px;
    }

    &-right {
      right: -15px;
    }

    &-hide {
      visibility: hidden !important;
    }

    &-icon {
      margin-top: 181px;
    }
  }

  &--item {
    display: inline-block;
    padding: 16px 8px 24px;
    scroll-snap-align: start;
    position: relative;
    width: 100%;
  }

  &--item-scroll-container {
    white-space: nowrap;
    font-size: 0;
    word-spacing: 0;
  }

  &--scroll-pane {
    position: relative;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
  }

  &--pretext {
    @include font-size($font100);
    @media (min-width: $large-width) {
      @include font-size($font125);
    }
  }

  &--headline {
    @include font-size($font150);
    font-weight: bold;
    padding-bottom: 4px;
    @media (min-width: $large-width) {
      @include font-size($font225);
    }
  }

  &--image-container {
    position: relative;
  }

  &--image {
    width: 100%;
  }

  &--picturecontainer {
    background-color: white;
  }

  &--picture {
    img {
      display: block;
    }
  }

  &--logo {
    position: absolute;
    padding: 12px;
    border-radius: 3px;
    top: 8px;
    right: 8px;
    max-width: 80px;
    max-height: 80px;
    @media (min-width: $large-width) {
      top: 16px;
      right: 16px;
      max-width: 220px;
      max-height: 80px;
    }

    &-default {
      background-color: white;
    }

    &-colorTransparent {
      background-color: transparent;
    }

    &-blackTransparent {
      background-color: transparent;
      //filter: brightness(0) - solved through Amplicene image server gamma filter now
    }

    &-whiteTransparent {
      background-color: transparent;
      //filter: brightness(0) invert(1) - solved through Amplicene image server gamma filter now
    }
  }

  &--cta-container {
    visibility: hidden;
    position: absolute;
    width: 100%;
    bottom: 15px;
    @media (min-width: $large-width) {
      visibility: visible;

    }
  }

  &--benefits-container {
    visibility: hidden;
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    transition: opacity .18s linear;
  }

  &--cta {
    text-align: center;
    width: auto;
    left: 0;
    right: 0;
    margin: auto;
    color: #ffffff;
    text-shadow: 0 1px 8px #222;
    @include font-size($font125);
  }

  &--bubble-container {
    position: relative;
    width: 100%;
    bottom: 16px;
    height: 8px;
    text-align: center;
    padding-bottom: 16px;
  }

  &--bubble-container-item {
    position: relative;
    width: 8px;
    top: 0;
    height: 8px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    background-color: $grey300;

    &.active {
      background-color: $red50 !important;
    }
  }

}